<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI"
           path="*"
           verb="*"
           modules="FastCGIModule"
           scriptProcessor="z:\git\flask01\venv\scripts\python.exe|z:\git\flask01\venv\lib\site-packages\wfastcgi.py"
           resourceType="Unspecified"
           requireAccess="Script"
      />

    </handlers>

  </system.webServer>
  <appSettings>
    <add key="WSGI_HANDLER" value="app.app"/>
    <add key="PYTHONPATH" value="z:\git\flask01" />
  </appSettings>
</configuration>